<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GTD42C5SJ9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GTD42C5SJ9');
    </script>
    
    
    <link rel="shortcut icon" type="image/png" href="{% static 'main/images/favicon.ico' %}"/>
    <title>LendoBem{%if pagetitle%} - {{pagetitle}} {%endif%}</title>
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'main/extra.css' %}" type="text/css"/>
    {% include 'main/includes/navbar.html'%}
    <div class="container">
        {%block content%}

        {%endblock%}
    </div>

    {% include 'main/includes/footer.html' %}
</body>
</html>
