{% extends 'main/base.html'%}
{%block content%}
{% load static %}
<div class="section">
   <div class=" mt-6 title has-text-centered">Celebridades</div>
   <div class="mt-5 subtitle has-text-centered">Aqui voce encontrara as celebridades que recomendaram livros.</div>
</div>

<hr>
<div class="is-divider"></div>
<div class="columns is-mobile is-multiline">


    {% for person in people %}
    <div class="column is-centered is-full-mobile is-one-quarter-desktop is-one-third-tablet">
        <div class=" m-3 px-2 py-2  is-centered has-text-centered">
            <p>
                <b>
                    <a href="{% url 'ppl' person.slug %}">
                        {{person.name}}
                    </a>
                </b>
            </p>

  

            <figure class=" is-inline-block is-flex  has-text-centered is-centered image is-128x128 is-rounded">
                <img class="is-horizontal-center is-128x128 is-rounded is-small" src={{person.image.url}} alt="">
            </figure>
            <p class="is-centered">
                {{person.description}}

            </p>
            <p>
                <div class="tags is-centered has-text-centered mb-0 ">
                    {% for tag in person.tags.all %}
                    <span class="tag" style="background-color:{{tag.color}};">{{tag.tagname}} </span>
                    {% endfor %}
                </div>
            </p>
 
            <p class="my-0">
               Recomenda  {{person.book_count}} {%if person.book_count > 1%} livros {% else %} livro {% endif%}
            </p>
        </div>

    </div>


    {% endfor %}
</div>
{%endblock%}