{% extends 'main/base.html'%}
{% load static %}
{%block content%}
{% load custom_tags %}

<meta name="description" content="Descubra aqui os {{influencer.book_count}} livros recomendados por {{influencer.name}}">
<div class="section ">
    <div class="columns">
        <div class="column is-centered has-text-centered">
            <h1 class="title">{{influencer.book_count}} Livros recomendados por <b>{{influencer.name}}</b></h1>
        </div>
    </div>
    <div class="columns"></div>
        <div class=" is-flex is-horizontal-center column is-full is-centered has-text-centered">
            <div class="image is-200x200 is-centered has-text-centered">
                <img src="{{influencer.image.url}}" class="is-rounded" alt="livros recomendados por {{influencer.name}}">
            </div>
        </div>
        <div class="tags is-centered has-text-centered">
            {% for tag in influencer.tags.all %}
            <span class="tag" style="background-color:{{tag.color}};">{{tag.tagname}} </span>
            {% endfor %}
        </div>
        <div class="column is-full has-text-centered">
            {{influencer.description}}
  
  
            <p>
                {{influencer.name}} recomenda  
                <b>
                    {{influencer.book_count}} {%if influencer.book_count > 1%} livros {% else %} livro {% endif%}
                </b>
             </p>
        </div>

    </div>

   </div>
   <hr>
<div class="section">
    <div class="container">

        <div class="subtitle">

        <h2>
            <span class="icon">
                <i class="fas fa-book"></i>
            </span>
            Quais são os {{influencer.book_count}} livros recomendados por {{influencer.name}}?
        </h2>
   
    </div>

    <div class="columns is-multiline">
    {% for book in influencer.recommended_books.all%}
        <div class="column is-6 ">
            <div class="card book-card has-shadow py-1">
                <div class="card-header">

                    <div class="card-header-title has-text-centered">
                        <h3 class="title is-4 has-text-centered"> {% modify_name book %}</h3>
                    </div>
                    <div class="card-header-icon px-3">
                        <span class="icon">
                            <span>{{book.recommended_count}}</span><i class=" px-3 mr-2 fas fa-book-reader"></i>
                        </span>
                    </div>

                </div>
                <div class="column">
                    <p class="subtitle is-full">{{book.author}}</p>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="container mx-3 my-3 mb-0">

                            <div class="image mt-3 p-3 m-2"  style="width: 150px;">
                                <img src="{{book.img_url}}" class="book-shape" alt="{% modify_name book %} livro recomendado por {{influencer.name}}">
                            </div>
                        </div>
                    </div>
                    <div class="column is-8 mx-1 px-2">
                        {% if book.recommended_count > 1%}
                        <p class="is-centered px-2 has-text-grey mt-1 ">
                                {{influencer.name}} e outras <b>{{book.recommended_count}} celebridades</b> recomendam o livro<i>
                                    {% modify_name book %}
                                </i>
                        </p>
                        {% else %}
                        <p class="is-centered px-2 has-text-grey">
                            {{influencer.name}} recomenda o livro <i>
                                {% modify_name book %}
                            </i>
                        </p>
                        {% endif %}    

                        <a href="{{book.aff_link}}">
                           <div class=" has-text-centered is-flex px-5 mx-6 button mt-5 display is-medium is-black">
                                Comprar na Amazon
                            </div>
                        </a>
                    </div>
                </div>
   
                {% if book.recommended_count > 1%}
                <div class="px-3 has-text-grey is-size-7 ">
                    Este livro tambem é recomendado por:
                </div>
                {% endif %}
                <footer class="card-footer">
                   

                    {% if book.recommended_count > 1%}
                    <p>
                        <div class="buttons px-1 py-1">
                         
                            {% for recommender in book.influencer_who_recommends.all %}
                                {% if recommender.name != influencer.name %}
                                    <a href="{% url 'ppl' recommender.slug %}">
                                        <button class="button is-primary is-tiny is-inverted mx-1">{{recommender.name}}</button>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </p>
                    {% endif %}
            
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

    
</div>
{%endblock%}