  <!-- START NAV -->
  {% load static %}
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'homepage' %}">
          <img src="{% static 'main/images/logo.png' %}" style='max-height: 3.5rem;' alt="Logo">
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item is-active is-size-5 has-text-weight-semibold" href="{% url 'homepage' %}">
            Home
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href="{% url 'people' %}">
            Pessoas
          </a>
          <a class="navbar-item is-size-5 has-text-weight-semibold" href='https://www.lendobem.com/blog/'>
            Blog
          </a>
        </div>
      </div>
    </div>
  </nav>